name: Build and Auto Release

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:

  prepare:
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.tag.outputs.tag }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Generate random tag
        id: tag
        run: |
          TAG="build-$(date +%Y%m%d)-$(openssl rand -hex 4)"
          echo "tag=$TAG" >> $GITHUB_OUTPUT

      - name: Push tag
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git tag ${{ steps.tag.outputs.tag }}
          git push origin ${{ steps.tag.outputs.tag }}

  build:
    needs: prepare
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            name: linux
          - os: windows-latest
            name: windows
          - os: macos-latest
            name: macos

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Install Linux dependencies
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt install make clang libvulkan-dev libgtk-3-dev -y

      - name: Compile
        run: |
          cd paint
          ../base/make --compile

      - name: Create ZIP (Linux/macOS)
        if: matrix.os != 'windows-latest'
        run: |
          cd paint/build/out
          zip -r ../../../${{ matrix.name }}.zip .

      - name: Create ZIP (Windows)
        if: matrix.os == 'windows-latest'
        shell: bash
        run: |
          tar -a -c -f windows.zip -C paint/build/out .

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.name }}
          path: ${{ matrix.name }}.zip

  release:
    needs: [prepare, build]
    runs-on: ubuntu-latest
  
    steps:
      - uses: actions/download-artifact@v4
  
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ needs.prepare.outputs.tag }}
          name: ${{ needs.prepare.outputs.tag }}
          files: |
            **/*.zip
